# Exploratory Data Analysis of a credit certifications for banks

The project is the analysis of a credit certification of banks....

## Aims and Objectives

- Get the total number of people from different reigion
    - How many are Females and Males
    - How many are Employed or not
    - Their living arrangements
    - How many are married and how many are with children

## Steps of the project

- Import the dataset to work on
- Cleaning of the dataset
- Exploratory data analysis
- Sentiment Analysis
- Conclusions

### Importing necessary libraries

In [3]:
import pandas as pd

In [16]:
## Read the dataset to df
df = pd.read_excel('Training.xlsx')

In [17]:
## opening the dataset
df

,ID,A,B,C,D,E,F,G,H,I,...,P,Q,R,S,T,U,V,W,X,MARKER
0,1,0.198778,0.099389,0.00,799.90,1.777556,0.888778,13,3.49,Woman,...,2 Two,property,No,Works,Yes,Yes,No,Yes,No,0
1,2,0.043000,0.021264,49.97,173.03,0.384511,0.190143,13,3.49,Woman,...,2 Two,otherwise,No,Works,Yes,Yes,Yes,Yes,No,0
2,3,0.067073,0.067073,0.00,329.90,0.599818,0.599818,13,3.49,Woman,...,1 One,property,No,No couple,No,Yes,No,Yes,No,0
3,4,0.052700,0.052700,0.00,235.65,0.471300,0.471300,13,3.49,Woman,...,0 Zero,property,No,No couple,Yes,Yes,Few,Yes,No,0
4,5,0.141880,0.141880,0.00,634.45,1.268900,1.268900,13,3.49,Woman,...,0 Zero,property,No,No couple,Yes,No,No,No,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89729,89730,0.027941,0.014844,25.00,474.00,0.557647,0.296250,20,0.01,Man,...,0 Zero,property,No,Works,Yes,Yes,No,No,Yes,0
89730,89731,0.120017,0.068581,179.96,720.03,1.200050,0.685743,10,0.00,Woman,...,2 Two,property,No,Works,Yes,Yes,No,No,Yes,0
89731,89732,0.153033,0.122427,29.01,550.99,0.459158,0.367327,3,0.00,Man,...,0 Zero,otherwise,No,Works,Yes,Yes,No,Yes,Yes,0
89732,89733,0.107575,0.043030,53.82,215.18,0.537950,0.215180,5,0.00,Woman,...,1 One,property,Yes,Works,No,Yes,No,No,Yes,0
89733,89734,0.095750,0.095750,57.48,172.42,0.287367,0.287367,3,0.00,Man,...,0 Zero,otherwise,No,No couple,No,Yes,No,No,Yes,0

### Data Cleaning

In [21]:
## Dropping unessecsary column
df.drop(columns='A', inplace = True)

In [27]:
## Renaming useful columns
df.rename(columns={'ID': 'S/N', 'I': 'Gender', 'P':'No of Children', 'Q':'Living Arrangement', 'S':'Employment Status', 'L':'Location', 'N':'Last Employment Postion', 'O':'Education Qualification'}, inplace=True)

In [28]:
df

,S/N,B,C,D,E,F,G,H,Gender,J,...,No of Children,Living Arrangement,R,Employment Status,T,U,V,W,X,MARKER
0,1,0.099389,0.00,799.90,1.777556,0.888778,13,3.49,Woman,33.750000,...,2 Two,property,No,Works,Yes,Yes,No,Yes,No,0
1,2,0.021264,49.97,173.03,0.384511,0.190143,13,3.49,Woman,33.250000,...,2 Two,otherwise,No,Works,Yes,Yes,Yes,Yes,No,0
2,3,0.067073,0.00,329.90,0.599818,0.599818,13,3.49,Woman,38.583333,...,1 One,property,No,No couple,No,Yes,No,Yes,No,0
3,4,0.052700,0.00,235.65,0.471300,0.471300,13,3.49,Woman,61.250000,...,0 Zero,property,No,No couple,Yes,Yes,Few,Yes,No,0
4,5,0.141880,0.00,634.45,1.268900,1.268900,13,3.49,Woman,48.583333,...,0 Zero,property,No,No couple,Yes,No,No,No,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89729,89730,0.014844,25.00,474.00,0.557647,0.296250,20,0.01,Man,26.833333,...,0 Zero,property,No,Works,Yes,Yes,No,No,Yes,0
89730,89731,0.068581,179.96,720.03,1.200050,0.685743,10,0.00,Woman,44.583333,...,2 Two,property,No,Works,Yes,Yes,No,No,Yes,0
89731,89732,0.122427,29.01,550.99,0.459158,0.367327,3,0.00,Man,61.250000,...,0 Zero,otherwise,No,Works,Yes,Yes,No,Yes,Yes,0
89732,89733,0.043030,53.82,215.18,0.537950,0.215180,5,0.00,Woman,28.833333,...,1 One,property,Yes,Works,No,Yes,No,No,Yes,0
89733,89734,0.095750,57.48,172.42,0.287367,0.287367,3,0.00,Man,30.500000,...,0 Zero,otherwise,No,No couple,No,Yes,No,No,Yes,0